bcrypt==4.1.2;python_version>='3.11'
cloudinary==1.39.1;python_version>='3.11'
email-validator==2.1.1;python_version>='3.11'
fastapi==0.110.0;python_version>='3.11'
python-dotenv==1.0.0;python_version>='3.11'
python-multipart==0.0.6;python_version>='3.11'
surrealdb==0.3.2;python_version>='3.11'
python-jose==3.3.0;python_version>='3.11'
uvicorn==0.29.0;python_version>='3.11'

